@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------------------- */
/* navigation-section */
/* ----------------------------- */

@font-face {
  font-family: 'Raleway';
  src: url(/fonts/font-raleway/Raleway-Bold.ttf);
}

.navigation{
  font-family:'Raleway';
}

.navigation__menu{
  display: flex;
  position: fixed;
  min-width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  /* flex: 0 1 50%; */
}

.menu__link{
  text-transform: uppercase;
  letter-spacing: 1.275px;
  color: #000000;
  padding: 10px;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.menu__link:last-child{
  background-color: #4BA87D;
  color: #fff;
  padding: 20px;
  margin-left: 15px;
}

.menu__link:hover:last-child{
  box-shadow: none;
  transform: scale(1.1);
}

.menu__link:hover{
  box-shadow: 0px 10px 0px 0px #4BA87D;
}
@media  (max-width:320px) {
  .menu__link{
    display: none;
  }
  .menu__link:last-child{
    display: block;
    padding: 10px;
    margin: 0;
  }
  .navigation__menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__logo{
    flex-basis: 5%;
  }
}
/* ------------------------------------------- */

/* hero-section */
/* ------------------------------------------- */

.hero {
  display: flex;
  margin: 200px;
  background: url('/images/Ellipse\ 2.svg') no-repeat 50% 100%, url('/images/Rectangle\ 2.svg') no-repeat 55% 10%,
  url('/images/Ellipse\ 5.svg') no-repeat 30% 79%, url('/images/Ellipse\ 3.svg') no-repeat 0% 0%,
  url('/images/Rectangle\ 1.svg') no-repeat 25% 12%, url('/images/Ellipse\ 1.svg') no-repeat 55% 90%;
  animation: hero 1s ease-in;
  margin-bottom: 10px;
}
.hero__leftside {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 1 0 25%;
  animation: hero 1s ease-in;
}

@keyframes hero {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.leftside__title {
  font-family: 'Playfair Display', serif;
  font-size: 69px;
  line-height: 150%;
  animation: title 600ms 200ms ease-in  normal;

}

@keyframes title{
  0%{
    opacity: 0;
    transform: translateX(80px);
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  transform: translateX(-80px);
  }


}

.leftside__text {
  font-family: 'Raleway';
  font-size: 19px;
  line-height: 26px;
  animation: text 0.6s 400ms ease-in normal;
}

@keyframes text{
  0%{
    opacity: 0;
    transform: translateX(120px);
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  transform: translateX(-40px);
  }
}

.leftside__button_green {
  font-family: 'Raleway';
  background-color: #4BA87D;
  color: #fff;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  padding: 20px 45px;
  /* flex: 0 1 25%; */
  animation: button 400ms 600ms ease-in normal;
}

@keyframes button{
0%{
  opacity: 0;
  transform: translateY(-200px);
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
  transform: translateY(25px);
}
}
.leftside__button_white {
  font-family: 'Raleway';
  border: 2px solid #4BA87D;
  color: #4BA87D;
  font-style: normal;
  font-size: 21px;
  background-color: #fff;
  padding: 20px 45px;
  animation: button 600ms 600ms ease-in normal;

}

.leftside__button_green,
.leftside__button_white{
transform: scale(1.2);
margin: 30px 30px 0 30px
}

.leftside__button_green:hover,
.leftside__button_white:hover{
  transform: scale(1.3);
}

.hero__photo{
  flex: 1 1 auto;
}
.photo__image {
  box-shadow: 0px 10px 40px -10px gray;
  max-width: 100%;
  animation: photo 1s 400ms ease-in normal;
  z-index: 0;
}

@keyframes photo {
  0%{
    opacity: 0;
    transform: translate3d(80px, 100px, 80px);

  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.video{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(151, 151, 151, 0.201);
}

.video__content{
  display: flex;
  flex-direction: column;
  background: url('/images/VIDEO\ \(image\).png') no-repeat ;
  margin: 50px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;

}

.content__title{
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 80px;
color: #FFFFFF;
margin: 163px 144px 0;

}

.content__button{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.05px;
  color: #4BA87D;
  background-color: #fff;
  padding:20px 32px;
  margin: 20px 0 162px;
}

.content__button:hover{
  transform: scale(1.2);
}

/* ----------------------------------- */

/* source section */

/* ----------------------------------- */

.source {
  background-color: #CAEAC7;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -45px,
}
.source__thumbs {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  margin: 40px 0 40px 200px;
  flex: 0 1 50%;
}

.thumbs__item-1{
  flex: 0 1 33.3333%;
  box-shadow: 0 0 30px 3px gray;
align-self: start;
}

.item-1__image,
.item-2__image{
  max-width: 100%;
}
.item-1__text p{
  background-color: #fff;
  padding: 24px 39px 0 30px;
  font-size: 16px;
line-height: 26px;
}

.item-1__anchor{
  display: flex;
}
.item-1__anchor a{
  flex: 1 1 auto;
  background-color: #fff;
  font-size: 16px;
line-height: 19px;
color: #4BA87D;
padding: 4px 0 20px 30px;
}
.thumbs__item-2{
  margin: 0 45px;
  align-self: end;
  flex: 0 1 33.3333%;
  margin-top: 100px;
  box-shadow: 0 0 30px 3px gray;
}

.item-2__text p{
  background-color: #fff;
  padding: 24px 39px 0 30px;
  font-size: 16px;
line-height: 26px;
}
.item-2__anchor{
  display: flex;
}
.item-2__anchor a{
  flex: 1 1 auto;
  padding: 4px 0 20px 30px;
  background-color: #fff;
  font-size: 16px;
line-height: 19px;
color: #4BA87D;
}

.item-1__anchor a::after,
.item-2__anchor a::after{
  content: '>';
  padding: 0 5px;
}

.item-1__anchor a:hover,
.item-2__anchor a:hover{
  color: #00ff88;
}
.source__text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 50%;
}
.text__subtitle {
  font-family: 'Playfair Display';
font-size: 44px;
line-height: 48px;
}
.text__subtext {
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 26px;
margin-top: 24px;
}

/* ----------------------------------------------------- */

/* members section */

/* ----------------------------------------------------- */

.members {
  margin:  60px 0;
}
.members__row {
  flex: 1 1 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  margin: 0 20px;
}
.members__member-1 {
  display: flex;
  flex-flow: column wrap;
  background: url('/images/photo-1.png') no-repeat;
  flex: 0 1 20%;


}
.member-1__subtitle {
  font-size: 34px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 153px 0 0 27px;
  }
  .member-1__subtext {
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 0 0 0 27px;
  padding-bottom: 20px;

}
.members__member-2 {
  display: flex;
  flex-flow: column wrap;
  background: url('/images/photo-4.png') no-repeat;
flex: 0 1 20%;
}
.member-2__subtitle {
  font-size: 34px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 153px 0 0 27px;
}
.member-2__subtext {
  font-size: 19px;
line-height: 22px;
color: #FFFFFF;
padding: 0 0 20px 27px;
}
.members__member-3 {
  display: flex;
  flex-flow: column wrap;
  background: url('/images/photo-5.png') no-repeat;
  flex: 0 1 20%;

}
.member-3__subtitle {
  font-size: 34px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 153px 0 0 27px;
}
.member-3__subtext {
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 0 0 20px 27px;
}

.members__member-1:hover,
.members__member-2:hover,
.members__member-3:hover{
transform: translateY(-10px);
transition: 0.3s;
}

.members__text{
  margin: 40px 0 ;
}
.members__text p{
  font-family: 'Playfair Display';
  line-height: 48px;
  text-align: center;
  font-size: 44px;
}
.members__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 -15px;
}
.form__input {
  font-family: 'Raleway';
  font-size: 21px;
  line-height: 25px;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  letter-spacing: 1.05px;
  padding: 20px 219px 20px 25px;
  color: #000000;
  flex: 0 1 auto;

}
.form__submit {
  margin:  0 27px;
  font-family: 'Raleway';
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.05px;
  color: #FFFFFF;
  background: #4BA87D;
  padding: 20px 30px;
}

/* ------------------------------ */
/* brands section */
/* ------------------------------ */

.brands {
  display: flex;
  margin: 20px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.brands__title {
  font-family: 'Playfair Display';
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 50px;
}
.brands__logos {
  margin-left: 30px;
  margin-bottom: 30px;
  flex: 1 1 20%;
}
.image {
  max-width: 100%;
padding-left: -30px;
}

/* ----------------------- */
/* plan section */
/* ----------------------- */

.plan {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-color: #4BA87D;
}
.plan__title {
  font-family: 'Playfair Display';
  font-size: 60px;
  line-height: 80px;
  color: #FFFFFF;
  margin: 82px 0px 40px;
}
.plan__button {
  font-family: 'Raleway';
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  padding: 19px 30px 21px 33px;
  margin-bottom: 80px;
  color: #4BA87D;
}

.plan__button:hover{
  transform: scale(1.3);
}

.plan__button:hover + h2{
  transform: translateY(-30px);
}

.plan:hover{
  background-color: #36df90;

}

/* ----------------------------- */
/* footer section */
/* ----------------------------- */

.footer {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Raleway';
  margin: 40px 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(163, 157, 157);
}

.footer__list {
  display: flex;
  flex-flow: row wrap;

}

.footer__list a{
  color: #000000;
}
.list__1 {
  padding: 0 30px;

}

.li {
  font-family: 'Raleway';
font-size: 19px;
line-height: 22px;
}

.li > a:hover{
  color: #46d090;
}

.list__3 {
  padding: 0 30px;

}

.footer__copyrights {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  padding-bottom: 40px;
}
.copyrights__p {
padding-right: 98px;
font-size: 15px;
line-height: 18px;
}
.copyrights__a {
  padding: 0 15px;
  color: #000;
}
